<!-- Toolbar Start -->
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
    <button routerLink="" mat-stroked-button class="mat-button-base" >
      <span class="app-name">My App</span>
    </button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<!-- Toolbar end -->

<!-- sidebar start -->
<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="side">
    <mat-list>
      <mat-list-item>
        Sidenav content
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/home">
          <button mat-flat-button color="primary">
            <span>Hello</span>
            <mat-icon>home</mat-icon>
          </button>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/recent">
          <button mat-flat-button color="primary">
            <span>Recent</span>
            <mat-icon>bookmark</mat-icon>
          </button>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <!-- sidebar end -->

<!-- main content  start -->
  <mat-sidenav-content class="main-content">  
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
