<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>{{movie.name}}</mat-card-title>
        <mat-card-subtitle>{{movie.year}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of {{movie.name}}" width="2" height="50">

    
</mat-card> -->

<video  border-style="solid"  width="320" height="240" controls="controls" preload="metadata">
    <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
  </video>